<div class="container text-center">
    <h2>Select a division</h2>
    <div class="row">
        <div class="col">
            <h3>Western Conference</h3>
            <div>
                <table class="table table-striped" id="InteractiveTable">
                    <thead>
                        <tr>
                            <th>Pacific</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Context.Request.Query["teamName"]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-striped" id="InteractiveTable">
                    <thead>
                        <tr>
                            <th>Central</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <h3>Eastern Conference</h3>
            <div>
                <table class="table table-striped" id="InteractiveTable">
                    <thead>
                        <tr>
                            <th>Eastern</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <table class="table table-striped" id="InteractiveTable">
                <thead>
                    <tr>
                        <th>Metropolitan</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
