@model HockeyManager.ViewModel.SearchPlayer

<script src="~/lib/jquery/dist/jquery.js"></script>


<script>
    $(document).ready(function () {
         $("#spinner").hide();
         var poolId = @Context.Request.Query["id"];

        $.ajax({
            type: "GET",
            url: "https://localhost:44375/Pool/GetPoolTeam",
            contentType: "application/json",
            data: {
                id: poolId
            }
        }).done(function (roster) {
            $("#refRosterTable").html(roster);
        }).fail(function (x) {
            alert(x.responseText);

        });


        @if (ViewBag.teamName != null)
        {
            <text>
        $("#teamName").val("@ViewBag.teamName");
            </text>
        }



        $(document).on('click', '#addTeam', function () {
            //ToDo: Check and see if we should care about user changing the url to a string and crashing this line

            $("#spinner").show();

            var teamName = $("#teamName").val();
            var playerIds = [];
            $('#drafted tr').each(function () {
                playerIds.push(this.id)

            })
            $.ajax({
                type: "POST",
                url: "https://localhost:44375/Pool/AddOrUpdateTeam",
                data: {
                    id: poolId,
                    name: teamName,
                    players: playerIds
                }
            }).done(function (resultMessage) {

                if (resultMessage == "success" || resultMessage == "name updated") {
                    location.href = 'https://localhost:44375/Pool/Details/'+@Context.Request.Query["id"];

                } else {
                    alert(resultMessage);
                    $("#spinner").hide();
                }

            }).fail(function (x) {
                alert(x.responseText);

            });
        });
     });
</script>

<div>
    <div class="container">
        <label class="control-label">Team Name:</label>
        <input class="form-control" id="teamName" />
        <span class="text-danger"></span>
    </div>
    <partial name="~/Views/Shared/_ManageTeam.cshtml" model="Model" />
</div>