@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button onclick="location.href='@Url.Action("ConfigurePlayerRanks", "Home")'")>Configure player ranks</button>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
